{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'configuration/compatibility.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/compatibility.js' %}"></script>

    <div class="compatibility">
        <h1 class="page-name">Start configuring your computer</h1>

        <div class="select-item">
            <h2>Select Processor</h2>
            <p class="list-view-item"><a href="{% url 'list_view_cpu' %}">View more Processors</a></p>
            <input type="text" class="component-search" placeholder="Search for processor" data-target="cpu-list">
            <div id="cpu-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Motherboard</h2>
            <p class="list-view-item"><a href="{% url 'list_view_motherboard' %}">View more Motherboards</a></p>
            <input type="text" class="component-search" placeholder="Search for motherboard" data-target="motherboard-list">
            <div id="motherboard-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Graphics card</h2>
            <p class="list-view-item"><a href="{% url 'list_view_gpu' %}">View more Graphic card</a></p>
            <input type="text" class="component-search" placeholder="Search for graphic card" data-target="gpu-list">
            <div id="gpu-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Memory</h2>
            <p class="list-view-item"><a href="{% url 'list_view_ram' %}">View more Memory modules</a></p>
            <input type="text" class="component-search" placeholder="Search for memory" data-target="ram-list">
            <div id="ram-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Cooling system</h2>
            <p class="list-view-item"><a href="{% url 'list_view_cooling_system' %}">View more Cooling systems</a></p>
            <input type="text" class="component-search" placeholder="Search for cooling system" data-target="cooling-system-list">
            <div id="cooling-system-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Power supply</h2>
            <p class="list-view-item"><a href="{% url 'list_view_power_supply' %}">View more Power supplys</a></p>
            <input type="text" class="component-search" placeholder="Search for power supply" data-target="power-supply-list">
            <div id="power-supply-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Storage</h2>
            <p class="list-view-item"><a href="{% url 'list_view_storage' %}">View more Storages</a></p>
            <input type="text" class="component-search" placeholder="Search for storage" data-target="storage-list">
            <div id="storage-list" class="component-list">
            </div>
        </div>

        <div class="select-item">
            <h2>Select Case</h2>
            <p class="list-view-item"><a href="{% url 'list_view_case' %}">View more Cases</a></p>
            <input type="text" class="component-search" placeholder="Search for case" data-target="case-list">
            <div id="case-list" class="component-list">
            </div>
        </div>
    </div>

    <div class="selected-component">
        <h3>Selected Processors: <span id="selected-cpu">None</span></h3>
        <h3>Selected Motherboard: <span id="selected-motherboard">None</span></h3>
        <h3>Selected Graphics card: <span id="selected-gpu">None</span></h3>
        <h3>Selected Memory: <span id="selected-ram">None</span></h3>
        <h3>Selected Cooling system: <span id="selected-cooling-system">None</span></h3>
        <h3>Selected Power supply: <span id="selected-power-supply">None</span></h3>
        <h3>Selected Storage: <span id="selected-storage">None</span></h3>
        <h3>Selected Case: <span id="selected-case">None</span></h3>
        <p></p>
        <h3>Total Price: <span id="total-price">0₴</span></h3>
    </div>

    {% if request.user.is_authenticated %}
        <button class="save-button" id="save-build-button">Save Build</button>
    {% else %}
        <div class="auth-message">
            <p>Please <a href="{% url 'sign_up' %}">Sign in</a> or <a href="{% url 'login' %}">Login</a> to save your build</p>
        </div>
    {% endif %}

    <script>
        document.getElementById('save-build-button').addEventListener('click', saveBuild);
    </script>

{% endblock %}