{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'configuration/list.css' %}">
    <script src="{% static 'js/filters.js' %}"></script>

    <div class="item-container">
        <div class="item-details">
            <form method="get">
                <div id="filters">
                    {{ filter.form }}
                    <button type="submit">Apply Filters</button>
                </div>
                <button type="button" id="toggle-filters-btn">Toggle Filters</button>
            </form>

            <h3><a href="{% url 'list_view_gpu' %}" class="link-title">All Graphic cards</a></h3>
            <h4>{{ gpu_count }} Graphic cards found</h4>

            <div class="items-container">
                {% for gpu in gpu_list %}
                    <div class="item">
                        <a href="{% url 'detail_view_gpu' gpu.id %}">
                            <img class="image" src="{{ gpu.gpu_image.url }}" alt="{{ gpu.gpu_name }}"/>
                        </a>
                        <p><a href="{% url 'detail_view_gpu' gpu.id %}" class="link-title">{{ gpu.gpu_name }}</a></p>
                        <p>Price: {{ gpu.gpu_price }}₴</p>
                    </div>
                {% endfor %}
            </div>

            <script>
                document.getElementById('toggle-filters-btn').addEventListener('click', filtersToggle)
            </script>
        </div>
    </div>

{% endblock %}
