{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'configuration/list.css' %}">
    <script src="{% static 'js/filters.js' %}"></script>

    <div class="item-container">
        <div class="item-details">
            <form method="get">
                <div id="filters">
                    {{ filter.form }}
                    <button type="submit">Apply Filters</button>
                </div>
                <button type="button" id="toggle-filters-btn">Toggle Filters</button>
            </form>

            <h3><a href="{% url 'list_view_power_supply' %}" class="link-title">All Power supplies</a></h3>
            <h4>{{ power_supply_count }} Power Supplies found</h4>

            <div class="items-container">
                {% for power_supply in power_supply_list %}
                    <div class="item">
                        <a href="{% url 'detail_view_power_supply' power_supply.id %}">
                            <img class="image" src="{{ power_supply.power_supply_image.url }}" alt="{{ power_supply.power_supply_name }}"/>
                        </a>
                        <p><a href="{% url 'detail_view_power_supply' power_supply.id %}" class="link-title">{{ power_supply.power_supply_name }}</a></p>
                        <p>Price: {{ power_supply.power_supply_price }}₴</p>
                    </div>
                {% endfor %}
            </div>

            <script>
                document.getElementById('toggle-filters-btn').addEventListener('click', filtersToggle)
            </script>
        </div>
    </div>

{% endblock %}
