{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'configuration/list.css' %}">
    <script src="{% static 'js/filters.js' %}"></script>

    <div class="item-container">
        <div class="item-details">
            <form method="get">
                <div id="filters">
                    {{ filter.form }}
                    <button type="submit">Apply Filters</button>
                </div>
                <button type="button" id="toggle-filters-btn">Toggle Filters</button>
            </form>

            <h3><a href="{% url 'list_view_ram' %}" class="link-title">All Memory</a></h3>
            <h4>{{ ram_count }} Memory modules found</h4>

            <div class="items-container">
                {% for ram in ram_list %}
                    <div class="item">
                        <a href="{% url 'detail_view_ram' ram.id %}">
                            <img class="image" src="{{ ram.ram_image.url }}" alt="{{ ram.ram_name }}"/>
                        </a>
                        <p><a href="{% url 'detail_view_ram' ram.id %}" class="link-title">{{ ram.ram_name }}</a></p>
                        <p>Price: {{ ram.ram_price }}₴</p>
                    </div>
                {% endfor %}
            </div>

            <script>
                document.getElementById('toggle-filters-btn').addEventListener('click', filtersToggle)
            </script>
        </div>
    </div>

{% endblock %}
