{% extends "pages/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'configuration/detail.css' %}">

    <div class="item-container">
        <div class="item-image">
            <img src="{{ gpu.gpu_image.url }}" alt="{{ gpu.gpu_name }}">
        </div>

        <div class="item-details">
            <h1 class="title">{{ gpu.gpu_name }}</h1>
            <p class="info">Manufacturer: {{ gpu.gpu_manufacturer }}</p>
            <p class="info">Clock speed: {{ gpu.gpu_clock_speed }}</p>
            <p class="info">Bus width: {{ gpu.gpu_bits }} bits</p>
            <p class="info">Memory size: {{ gpu.gpu_ram }}</p>
            <p class="info">Memory type: {{ gpu.gpu_ram_type }}</p>
            <p class="info">Power consumption: {{ gpu.gpu_power_consumption }} W</p>
            <p class="info">Price: {{ gpu.gpu_price }}₴</p>
            <p class="info">Description: {{ gpu.gpu_description }}</p>

            <div class="back-link">
                <a href="{% url 'list_view_gpu' %}" class="button">Back to GPUs</a>
            </div>
        </div>
    </div>

{% endblock %}
