{% extends "pages/base.html" %}

{% block content %}

    <div class="build-detail">
        <p>Total Price: {{ build.price }}₴</p>

        <div>
            <p>
                <a href="{% url 'detail_view_cpu' build.cpu.id %}">
                    <img src="{{ build.cpu.cpu_image.url }}" alt="{{ build.cpu.cpu_name }}">
                </a>
                CPU:
                <a href="{% url 'detail_view_cpu' build.cpu.id %}">
                    {{ build.cpu.cpu_name }}
                </a>
                Price: {{ build.cpu.cpu_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_motherboard' build.motherboard.id %}">
                    <img src="{{ build.motherboard.motherboard_image.url }}" alt="{{ build.motherboard.motherboard_name }}">
                </a>
                Motherboard:
                <a href="{% url 'detail_view_motherboard' build.motherboard.id %}">
                    {{ build.motherboard.motherboard_name }}
                </a>
                Price: {{ build.motherboard.motherboard_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_gpu' build.gpu.id %}">
                    <img src="{{ build.gpu.gpu_image.url }}" alt="{{ build.gpu.gpu_name }}">
                </a>
                GPU:
                <a href="{% url 'detail_view_gpu' build.gpu.id %}">
                    {{ build.gpu.gpu_name }}
                </a>
                Price: {{ build.gpu.gpu_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_ram' build.ram.id %}">
                    <img src="{{ build.ram.ram_image.url }}" alt="{{ build.ram.ram_name }}">
                </a>
                RAM:
                <a href="{% url 'detail_view_ram' build.ram.id %}">
                    {{ build.ram.ram_name }}
                </a>
                Price: {{ build.ram.ram_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_cooling_system' build.cooling_system.id %}">
                    <img src="{{ build.cooling_system.cooling_system_image.url }}" alt="{{ build.cooling_system.cooling_system_name }}">
                </a>
                Cooling System:
                <a href="{% url 'detail_view_cooling_system' build.cooling_system.id %}">
                    {{ build.cooling_system.cooling_system_name }}
                </a>
                Price: {{ build.cooling_system.cooling_system_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_power_supply' build.power_supply.id %}">
                    <img src="{{ build.power_supply.power_supply_image.url }}" alt="{{ build.power_supply.power_supply_name }}">
                </a>
                Power Supply:
                <a href="{% url 'detail_view_power_supply' build.power_supply.id %}">
                    {{ build.power.power_supply_name }}
                </a>
                Price: {{ build.power_supply.power_supply_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_storage' build.storage.id %}">
                    <img src="{{ build.storage.storage_image.url }}" alt="{{ build.storage.storage_name }}">
                </a>
                Storage:
                <a href="{% url 'detail_view_storage' build.storage.id %}">
                    {{ build.storage.storage_name }}
                </a>
                Price: {{ build.storage.storage_price }}
            </p>
            <p>
                <a href="{% url 'detail_view_case' build.case.id %}">
                    <img src="{{ build.case.case_image.url }}" alt="{{ build.case.case_name }}">
                </a>
                Case:
                <a href="{% url 'detail_view_case' build.case.id %}">
                    {{ build.case.case_name }}
                </a>
                Price: {{ build.case.case_price }}
            </p>
        </div>

        <a href="{% url 'profile' %}">Back to Profile</a>
    </div>

{% endblock %}
