{% extends "pages/base.html" %}

{% block content %}
<div class="container">
    <h1>{{ cooling_system.cooling_system_name }}</h1>
    <img src="{{ cooling_system.cooling_system_image.url }}" alt="{{ cooling_system.cooling_system_name }}">
    <p>Manufacturer: {{ cooling_system.cooling_system_manufacturer }}</p>
    <p>Socket: {{ cooling_system.cooling_system_socket }}</p>
    <p>TDP: {{ cooling_system.cooling_system_tdp }} W</p>
    <p>Price: ${{ cooling_system.cooling_system_price }}</p>
    <p>Description: {{ cooling_system.cooling_system_description }}</p>
{#    <a href="{% url 'cooling_system_list' %}">Back to Cooling Systems</a>#}
</div>
{% endblock %}
