{% extends "pages/base.html" %}

{% block content %}

    <div class="container">
        <h1>{{ cpu.cpu_name }}</h1>
        <img src="{{ cpu.cpu_image.url }}" alt="{{ cpu.cpu_name }}">
        <p>Manufacturer: {{ cpu.cpu_manufacturer }}</p>
        <p>Socket: {{ cpu.cpu_socket }}</p>
        <p>Cores: {{ cpu.cpu_cores }}</p>
        <p>Threads: {{ cpu.cpu_threads }}</p>
        <p>Clock Speed: {{ cpu.cpu_clock_speed }}</p>
        <p>TDP: {{ cpu.cpu_tdp }} W</p>
        <p>Price: {{ cpu.cpu_price }}₴</p>
        <p>Description: {{ cpu.cpu_description }}</p>
        <a href="{% url 'list_view_cpu' %}">Back to CPUs</a>
    </div>

{% endblock %}
