{% extends "pages/base.html" %}

{% block content %}
<div class="container">
    <h1>{{ storage.storage_name }}</h1>
    <img src="{{ storage.storage_image.url }}" alt="{{ storage.storage_name }}">
    <p>Manufacturer: {{ storage.storage_manufacturer }}</p>
    <p>Type: {{ storage.storage_type }}</p>
    <p>Capacity: {{ storage.storage_capacity }}</p>
    <p>Speed: {{ storage.storage_speed }}</p>
    <p>Connection: {{ storage.storage_connection }}</p>
    <p>Price: {{ storage.storage_price }}₴</p>
    <p>Description: {{ storage.storage_description }}</p>
    <a href="{% url 'list_view_storage' %}">Back to Storage</a>
</div>
{% endblock %}
