{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'configuration/list.css' %}">

    <div class="item-container">
        <div class="item-details">
            <form action="{% url 'list_view_cpu' %}" class="search-form">
                <input type="text" name="q" placeholder="Search for processor" class="search-input"/>
            </form>

            <h3><a href="{% url 'list_view_cpu' %}" class="link-title">All Processors</a></h3>

            <h4>{{ cpu_count }} Processors found</h4>

            <div class="items-container">
                {% for cpu in cpu_list %}
                    <div class="item">
                        <a href="{% url 'detail_view_cpu' cpu.id %}">
                            <img class="image" src="{{ cpu.cpu_image.url }}" alt="{{ cpu.cpu_name }}"/>
                        </a>
                        <p><a href="{% url 'detail_view_cpu' cpu.id %}" class="link-title">{{ cpu.cpu_name }}</a></p>
                        <p>Price: {{ cpu.cpu_price }}₴</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
