{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

    <div class="motherboard-list">

        <div>

            <form action="{% url 'list_view_motherboard' %}">
                <input type="text" name="q" placeholder="Search for motherboard"/>
            </form>

            <h3><a href="{% url 'list_view_motherboard' %}">All Motherboards</a></h3>

        </div>

        <div>

            <h4>{{ motherboard_count }} Motherboards found</h4>

            <div class="motherboards-container">
                {% for motherboard in motherboard_list %}
                        <div class="item">
                            <img class="image" src="{{ motherboard.motherboard_image.url }}" alt="{{ motherboard.motherboard_name }}"/>
                            <p><a href="{% url 'detail_view_motherboard' motherboard.id %}">{{ motherboard.motherboard_name }}</a></p>
                            <p>Price: {{ motherboard.motherboard_price }}₴</p>
                        </div>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}